---
import { ofertas } from '@lib/const';
import H1 from './H1.astro';
import H3 from './H3.astro';
---

<section>
  <H1>OFERTAS</H1>
  <nav class='grid grid-cols-3 w-full gap-2'>
    {
      ofertas.map((oferta) => (
        <div class='flex   rounded-xl p-5 gap-5 bg-white '>
          <img
            src={oferta.image.src}
            alt=''
            width='250'
            height='250'
            class='h-[250px] rounded-xl'
          />
          <div class='flex justify-between flex-col'>
            <H3>{oferta.title}</H3>
            <span class='flex flex-col gap-6'>
              <p>{oferta.description}</p>
              <button class=' border-2 px-5 py-2 bg-verde rounded-xl text-white'>COMPRAR</button> 
            </span>
          </div>
        </div>
      ))
    }
  </nav>
</section>
