---
import H1 from './H1.astro';
interface Product {
  name: string;
  description: string;
  aparte: string;
  img: ImageMetadata;
}
const { products, title } = Astro.props;
---

<section class='max-w-screen-xl mx-auto'>
  <H1>{title}</H1>
  <nav class='grid grid-cols-10 w-full gap-2'>
    {
      products.map((product: Product) => (
        <div class='flex border-2 rounded-xl p-5 gap-5 col-span-3 bg-white'>
          <img src={product.img.src} width='170' class='h-[170px] rounded-md' />
          <div class='flex justify-between flex-col'>
            <h2 class='text-md text-center md:text-lg lg:text-xl font-semibold text-lila'>
              {product.name}
            </h2>
            <p>{product.description}</p>
            <button class=' border-2 px-5 py-2 rounded-xl bg-verde text-white'>
              COMPRAR
            </button>
          </div>
        </div>
      ))
    }
    <div class='flex items-center col-span-1'>
      <a href='/carta' class='px-5 py-2 bg-lila text-white rounded-xl'
        >VER MÁS</a
      >
    </div>
  </nav>
</section>
